<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>

    {{>navbar}}

    <!-- main header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div  -->

                    <div class="col-md-6 col-12 main_header_right ">
                        <figure>
                            <img src="images/img10.png" alt="shivam" id="about_img" class="img-fluid" title="shivam Gautam">
                        </figure>

                        <!-- right side div  -->
                        <div class="col-md-6 col-12 main_header_left ">
                            <p>Welcome to weather app</p>
                            <h1> I am a <span class="text_clr">FullStack Developer</span>Youtuber And a freelancer</h1>
                            <a href="https://www.linkedin.com/in/shivam-gautam-10b8b91ba/" target="_blank"><button>About  me</button></a>
                                   
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer section  -->

    {{>footer}}




</body>

</html>